.panel-custom {
border-style: solid;
border-width: 1px;
border-color: #ff8da1;
margin-bottom: 1.25em;
padding: 40px;
background: pink;
}

header {
	background: #0B0833;
	padding: 0 20px;
}

header h2 {
	font-weight: 300;
	color: #FFF;
}

h5 {
	font-weight: normal;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

a .fa-trash-o {
	color: #FF0000;
	margin-left: 5px;
}

fieldset {
	border: none;
}