<h1 class="subheader">Información del usuario {{ usuario.nombre }}</h1>
<div class="panel callout radius">
  	<p>Nombre: {{ usuario.nombre }}</p>
  	<p>Apellido: {{ usuario.apellido }}</p>
  	<p>Telefono: {{ usuario.telefono }}</p>
  	<p>Descripcion: {{ usuario.descripcion }}</p>
  	<p>Especialidades: {{ usuario.especialidades }}</p>
  	<p>Direccion: {{ usuario.direccion }}</p>
  	<p>Horario de atención: {{ usuario.horario }}</p>
	<p>Contacto comercial: {{ usuario.checkbox }}</p>
	<p>Email: {{ usuario.email }}</p>  	
  	<a href="#/" class="button secondary">Volver al inicio</a>
</div>